

.mobile-container {
  margin: auto;
  background-color:#292c2f;
  height: 500px;
  color: white;
  border-radius: 10px;
}
.topnav {
  overflow: hidden;
  background-color:#292c2f;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#icon{
  height: 32px;
    background-position-y: center;
    width: 39px;
    background-image: url(../img/menu.png);
    background-color: #292C2F;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-origin: content-box;
    background-position-x: center;
    margin-right:2%;
    margin-top: 7px;
    position: absolute;
    right:8% ;
    right: 1%;
    top: 8%;
}
.topnav #myLinks {
  display: none;
  float: right;
  position: absolute;
  right: 6%;
  top: 30%;
}
.topnav a {
  color: white;
  padding: 21px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a#icon {
  float: right;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #4CAF50;
  color: white;
}
h3 img {
    width: 20px;
    height: 20px;

}