@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

/* style HED */
.topnav {
  overflow: hidden;
  background-color:#292c2f;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#icon{
  height: 32px;
    background-position-y: center;
    width: 39px;
    background-image: url(../img/menu.png);
    background-color: #292c2f;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-origin: content-box;
    background-position-x: center;
    margin-right:2%;
    margin-top: 7px;
    position: absolute;
    right:8% ;
    right: 1%;
    top: 8%;
  
}

.topnav #myLinks {
  display: none;
  float: right;
  position: absolute;
  right: 6%;
  top: 30%;
}


.topnav a {
  color: white;
  padding: 25.5px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a#icon {
  float: right;
}

.topnav a:hover {
  background-color:#9bdc28;
  color: black;
}

.active {
  background-color: #9bdc28;
  color: white;
}

/* Logo */

#logo{
  border-radius: 50px;
  width: 50px;
  margin: 5px 5px 0px 25px;
}
#background {
  background-position-y: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-image: url(../img/backgraound.jpg);
}

/* End */



/* for Js */
.sticky{
  position: fixed;
  background-color: rgba(0, 0,0, 0.2);
  /* padding-bottom: 10px; */
  transition: 1.5s;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  top: 0px;
}
.sticky #myLinks {
  display: none;
  float: right;
  position: absolute;
  right: 6%;
  top: 30%;
}
.sticky a {
  color: #292c2f;
  padding: 25.5px 16px;
  text-decoration: none;
  font-size: 17px;
}
.sticky a#icon {
  float: right;
}
.sticky a:hover {
  background-color: #9bdc28;
  color: black;
}
/* end */

#wrapper{
  padding-left: 25px;
}

#contactUs{
  padding: 70px 0px 5px 0px;
  text-align: center;
  font-size: 30px;
}

#reachBotton {
margin: 30px 0 30px 600px;
}

#subs{
  margin-left: 150px;
  background-color:#9bdc28;
  width: 70px;
  height: 30px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  width: 100%;
  position: relative;
  text-align: left;

}
.rating > span {
  display: inline-block;
  position: relative;
  color: #09c;
  font-size: 20px;
  width: 20px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  cursor: pointer;
  color: #09c;
  -webkit-animation: mymove 2s;
  animation: mymove 2s;
  animation-direction:normal;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
     
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  from {color: #94e8ff;}
  to {color: #09c;}
}

body {
  font-family: 'Source Serif Pro', serif;
}
* {
  box-sizing: border-box;
}

#dataform{
  margin: auto auto;
  background-image: linear-gradient(170deg,#FCF6F5FF 20%, #FCF6F5FF 20% 75%,#9bdc28 50% 80%,#9bdc28 80%);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  width: 70%;
}

#guestHeaderTag {
  padding-bottom: 20px;
  padding-left: 150px;
}
#elephantImg {
  margin: 20px auto 0 250px;
}

.headerh{
  padding: 40px;
  font-size: 20px;
  text-align: center;
}
#form{
  margin: auto auto;
}
.paragraphAnimals {
  line-height: 25px;
  padding-left: 20px;
  height: 70%;
  background-color: rgb(150, 146,144,0.4);
  margin-bottom: 20px;
  text-align: center;
}

/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* ////////////////// */

/* Add a background color when the inputs get focus */
input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #312e2d;
}



/* for Reach us page (botton) */
/* Add padding to container elements */
.container {
  padding: 16px;
}

#contactUsReachBotton{
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}
#paragraphJoin {
font-size: 20px;
padding: 20px;
background-color: #4CAF50;
margin-bottom: 20px;
opacity:0.8 ;
}

.information{
  font-size: 16px;
}

/* /////////////////// */
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  background-color: #ddd;
  outline: none;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 65px;
  top: 30px;
  font-size: 45px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


/* for footer //////////////////////////////////////// */
footer{
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding:28px 30px;;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #9bdc28;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #9bdc28;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
/* End Footer style */