/* @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');​ */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
  }
html{
  overflow-x: hidden;
}

#headerStore{
  text-align: center;
  margin: auto auto;
  width: 22%;
}
.stor-header {
    background-color: #9bdc28;
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin: 40px 0 35px 0;
    /* width: 16%; */
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.filter-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#filter-btns li{
    display: inline;
    padding: 20px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}
#filter-btns li:hover{
    background-color: #9bdc28;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto auto;
}

/************ cards style ************/

.container{
    position: relative;
    margin-top: 30px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.container .card h2{
    float: right;
    margin-top: 5px;
    padding-right: 10px;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin: 30px;
    color: #f5f5f5;
    box-shadow: 5px 14px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.container .card::after{
    content: 'THE REALS';
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.imgBx h2{
    font-size: 26px;
}
.container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* z-index: 1; */
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}
.container .card .imgBx img{
    position: absolute;
    width: 250px;
    margin-top: 40px;
}
.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentBx {
    height: 210px;
}
.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .card .contentBx .size{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    margin-top: 80px;
}
.container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.container .card .contentBx .size h3{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .contentBx .size span{
    width: 45px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    font-size: 20px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
}
.container .card .contentBx .size span:hover{
    background: #9bdc28;
}
.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translate(50px);
    transition: 0.5s;
}
.container .card .contentBx input{
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translate(50px);
    transition: 0.5s;
    width: 70px;
}
.container .card:hover .contentBx a{
    background-color: #9bdc28;
    color: white;
    opacity: 1;
    transform: translate(0px);
    transition-delay: 0.75s;
}
.container .card:hover .contentBx input{
    opacity: 1;
    transform: translate(0px);
    transition-delay: 0.75s;
}

/* for Js Nav*/

#spano{
  border-radius: 50%;
  background-color: red;
  text-align: center;
  font-size: 25px;
}

.sticky{
  position: fixed;
  background-color: rgba(0, 0,0, 0.2);
  /* padding-bottom: 10px; */
  transition: 1.5s;
  overflow: hidden;
  width: 100%;
  z-index: 99999999;
  top: 0px;
  height: 50px;
}

.sticky .myLinks{
  float: right;
  position: absolute;
  right: -35%;
  top: 22%;
  transition: 1.5s;
}
.sticky .myLinks2{
  right: 12%;
}

.sticky a {
  color: #fff;
  padding: 25.5px 16px;
  text-decoration: none;
  font-size: 17px;
}
  .sticky a#icon {
    float: right;
  }
  .sticky a:hover {
    background-color: #9bdc28;
    color: white;
  }
  

  /* end */
  .mobile-container {
    margin: auto;
    background-color:#292c2f;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  #icon{
    border: 0px;
    border-radius: 5px;
    border-color: #9bdc28;
    height: 32px;
    background-position-y: center;
    width: 39px;
    background-image: url(../img/menu2.png);
    background-color: #9bdc28;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-position-x: center;
    margin-right: 2%;
    margin-top: 7px;
    position: absolute;
    right: 7%;
    top: 0.5%;
  }
  
.topnav {
  overflow: hidden;
  background-color:#292c2f;
  /* position: fixed; */
  width: 100%;
  height: 64px;
  z-index: 1;
  top: -32%;
}
.topnav .myLinks{
  float: right;
  position: absolute;
  right: -35%;
  top: 1.7%;
  transition: 1.5s;
}
.topnav .myLinks2{
  right: 11%;
}

.topnav a {
  color: white;
  padding: 25.5px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
  
  .topnav a#icon {
    float: right;
  }
  
  .topnav a:hover {
    background-color:#9bdc28;
    color: black;
  }
  
  .active {
    background-color: #9bdc28;
    color: white;
  }
  
  /* Logo */
  .sticky #logoname{
    color: black;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 17px;
    font-family: 'Piedra', cursive !important;
  
  }
  #logoname{
    color: white;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 17px;
    font-family: 'Piedra', cursive !important;
  }
  #logoname .s1{
    color: #9bdc28;
  }
  
  #logoname .s2{
    color: #cd6133;
  }
  
  #logo{
    border-radius: 50px;
    width: 50px;
    margin: 5px 5px 0px 25px;
  }
  
#background {
  box-shadow: 6px 2px 10px 5px rgba(0, 0, 0, 0.12);
  background-position-y: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-image: url(../img/background3.jpg);
}

  /* End */
  /* Footer style start  */
  footer{
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding:28px 30px;;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive !important ;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #9bdc28;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #9bdc28;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
/* End footer style */