@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
* {
  padding: 0;
  margin: 0;
}



/********************************************************/

/* HED Style*/

#spano{
  border-radius: 50%;
  background-color: red;
  text-align: center;
  font-size: 25px;
}

.sticky{
  position: fixed;
  background-color: rgba(0, 0,0, 0.2);
  /* padding-bottom: 10px; */
  transition: 1.5s;
  overflow: hidden;
  width: 100%;
  z-index: 99999999;
  top: 0px;
  height: 50px;
}

.sticky .myLinks{
 
  float: right;
  position: absolute;
  right: -34%;
  top: 25%;
  transition: 1.5s;
}
.sticky .myLinks2{
  right: 10%;
}

.sticky a {
  color: #fff;
  padding: 25.5px 16px;
  text-decoration: none;
  font-size: 17px;
}
.sticky a#icon {
  float: right;
}
.sticky a:hover {
  background-color: #9bdc28;
  color: white;
}
.mobile-container {
  margin: auto;
  background-color:#292c2f;
  height: 500px;
  color: white;
  border-radius: 10px;
}
#icon{
  border: 0px;
  border-radius: 5px;
  border-color: #9bdc28;
  height: 32px;
  background-position-y: center;
  width: 39px;
  background-image: url(../img/menu2.png);
  background-color: #9bdc28;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-position-x: center;
  margin-right: 2%;
  margin-top: 7px;
  position: absolute;
  right: 5.6%;
  top: 0.5%;
}

.topnav {
  overflow: hidden;
  background-color:#292c2f;
  /* position: fixed; */
  width: 100%;
  height: 64px;
  z-index: 1;
  top: -30%;
}
.topnav .myLinks{
  float: right;
  position: absolute;
  right: -34%;
  top: 2.5%;
  transition: 1.5s;
}
.topnav .myLinks2{
  display: '';
  right: 10%;
}

.topnav a {
  color: white;
  padding: 25.5px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a#icon {
  float: right;
}

.topnav a:hover {
  background-color:#9bdc28;
  color: black;
}

.topnav.active {
  background-color: #9bdc28;
  color: white;
}

/* Logo */
.sticky #logoname{
  color: black;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 17px;
  font-family: 'Piedra', cursive !important;
}

#logoname{
  color: white;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 17px;
  font-family: 'Piedra', cursive !important;
}
#logoname span{
  color: #9bdc28;
  
}

#logo{
  border-radius: 50px;
  width: 50px;
  margin: 5px 5px 0px 25px;
}

#background {
  box-shadow: 6px 2px 10px 5px rgba(0, 0, 0, 0.12);
  background-position-y: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-image: url(../img/background3.jpg);
}



/* End hed style */
/* Footer style start  */
footer{
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding:28px 30px;;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #9bdc28;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #9bdc28;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
/* End footer style */

/* --------------------------- */

/* Slideshow container */
#firstH1 {
  padding-top: 15px;
  /* box-shadow: 6px 2px 10px 5px rgba(0, 0, 0, 0.12); */
  background-color:#9bdc28 ;
  font-weight: 30px;
  font-size: 35px;
  padding-bottom:15px ;
  text-align: center;
}
#slideshowContainer {
  width: 67%;
  box-shadow: 6px 2px 10px 5px rgba(0, 0, 0, 0.12);
  position: relative;
  margin: auto;
  margin-top: 100vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,1.0);
}

/* Caption text */
.text {
  color: balck;
  font-size: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  top:530px; 
  
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#vedio-hed{
  
  padding: 20px;
  text-align: center;
  background-color: #9bdc28;
  font-size: 32px;
  
}
#vedio-div{
  margin: auto;
    width: 67%;
    height: 50%;
    box-shadow: 6px 2px 10px 5px rgba(0, 0, 0, 0.12);
    border: 0.3px solid black;


}

#vediopara{margin-top: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 30%;
  display: inline-block;
  /* box-shadow: 6px 2px 10px 5px rgba(0, 0, 0, 0.12); */
  position: absolute;
  margin-left: 4px;
}
#vedio-div video{
  margin: 10px;
  width: 50%;
  height: 50%;
  box-shadow: 6px 2px 10px 5px rgba(0, 0, 0, 0.12);
  border: 2.5px solid black;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}

#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}


#par1 {
  font-family: 'Source Serif Pro', serif;
  line-height: 25px;
  width: 67%;
  /* max-width: 1000px; */
  min-height: 285px;
  margin: auto auto;
  padding-top: 90px;
}


#myBtn{
  border: 0px;
  border-radius: 5px;
  padding: 6px 9px;
  display: inline-block;
  background-color: #9bdc28;
}

#myBtn1{
  border: 0px;
  border-radius: 5px;
  padding: 6px 9px;
  display: inline-block;
  background-color: #9bdc28;

}

#myBtn2{
  border: 0px;
  border-radius: 5px;
  padding: 6px 9px;
  display: inline-block;
  background-color: #9bdc28;

}

  #myBtn:hover{
  background-color:blueviolet ;
   }
 #myBtn1:hover{
  background-color: blueviolet;
   }
                
 #myBtn2:hover{
 background-color: blueviolet;
    }
                    
 .vid{
   position: relative;
   
    }

    /************************* HOT OFFERS **************************/

    /*************************** cards ************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
  overflow-x: hidden;
}
/*#mainSec{
  overflow: hidden;

} */
#sec2{
    left: 1500vh;
    overflow: hidden;
}
#sec1{
    position: relative;
}
#hotO{
  position: absolute;
  z-index: 2;
  /* top: -200px; */
  left: 80vh;
  height: 150px;
  width: 50vh;
  overflow: hidden;
}
.slider {
    width: 100%;
    height: 90vh;
    position: absolute;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: beige;
    right: 0vh;
    transition: 2.5s;
    /* right: 220vh; */
}
.slider2{
    right: 220vh;
}

  .slider::-webkit-scrollbar {
    display: none;
  }
  .slide{
      top: 25%;
  }
  
  .slider .slide {
    display: -webkit-box;
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
  }
  
  .slider .item {
    margin-right: 80px;
    height: 50vh;
    z-index: 9999;
  }

  .slider .item:last-child {
    margin-right: 0;
  }
  
  .ctrl {
    text-align: center;
    margin-top: 5px;
  }
  
  .ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background: #fff;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 60%;
    margin-top: -27.5px;
    z-index: 999999;
}

.ctrl-btn.pro-prev {
    left: 0;
  }
  
  .ctrl-btn.pro-next {
    right: 0;
  }
  
.container{
    position: relative;
    margin-top: 20px;
    z-index: 0;
}
.container .card h2{
    float: right;
    margin-top: 5px;
    padding-right: 10px;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin: 30px;
    color: #f5f5f5;
}
.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.container .card::after{
    content: 'THE REALS';
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.imgBx h2{
    font-size: 26px;
  }


.imgBx2{
    text-align: center;
    position: relative;
  }
  .imgBx2 h2{
    position: absolute;
    font-size: 40px;
    top: -11px;
    text-align: center;
    color: black;
    font-weight: 900;
    text-align: center;
    left: 3px;
}
.imgBx3 h2{
  left: 70px;
}
.container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}
.container .card .imgBx img{
    position: absolute;
    width: 250px;
    margin-top: 40px;
    
}
.container .card .imgBx2 img{
  /* position: absolute; */
  width: 350px;
  right: 0;
  top: 0;
}
.container .card:hover .imgBx2{
  top: 2%;
  transform: translateY(0%);
}
.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentBx {
    height: 210px;
}
.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .card .contentBx .size{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    margin-top: 100px;
}
.container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.container .card .contentBx .size h3{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .contentBx .size span{
    width: 45px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    font-size: 20px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
}
.container .card .contentBx .size span:hover{
    background: #9bdc28;
}
.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translate(50px);
    transition: 0.5s;
}
.container .card .contentBx input{
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translate(50px);
    transition: 0.5s;
    width: 70px;
}
.container .card:hover .contentBx a{
    opacity: 1;
    transform: translate(0px);
    transition-delay: 0.75s;
}
.container .card:hover .contentBx input{
    opacity: 1;
    transform: translate(0px);
    transition-delay: 0.75s;
}
/****************** brogers bar ***********************/

.screen {
    width: 80vw;   /*80% of screen width*/
    text-align: center;
    margin: auto;
    position: absolute;
    left: 500vh;
    transition: 2s;
    overflow-y: hidden;
}
.screen2{
  left: 210px;
}
  .progress-container {
    width: 100%;
    position: relative;
    /* overflow: hidden; */
  }
  
  /* call CSS counter */
  .progressbar {
    counter-reset: stepCount;
    overflow: hidden;
  }
  
  /*  Set content area under circle */
  .progressbar li {
    list-style:none;
    float: left;
    width: 33.33%;  /* 1/3 of 100% - would change on number of li */
    position: relative;
    text-align: center;
  }
  
  /* Create the circle, function for the number set, circle style,
  use line height to vertically align numvber in center, height and line-height should be same */
  .progressbar li:before {
      counter-increment: stepCount;
      content: counter(stepCount); 
      width: 65px;
      height: 65px;
      line-height:65px;
      text-align: center;
      display: block;
      margin: 0 auto 10px auto;
      background: lightblue;
      color: white;
      font-size: 20px;
      font-weight: bold;
      border-radius: 100px;
  }
  
  /* Connect circles w/ Background color, height, 
  position-left is half of Li width, 
  z-index pushes line behind circle*/
  .progressbar li:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color:lightblue;
    top: 30px;
    left: -50%;
    z-index: -1;
  }
  
  
  /* Now we need to remove the extra line in front, select 1st li, and remove content to clear the front line */
  .progressbar li:first-child:after {
    content: none;
  }
  
  .progressbar li.active{
    background-color: dogerblue;
  }
  
  .progressbar li.active:before {
    background-color: #9bdc28;
    transition: 1s ease;
  }
  .progressbar li.active:after {
    background-color: #9bdc28;
    transition: 1s ease;
  }
  
  .box { 
    border: 1px solid #ccc;
    padding: 20px;
  }

  /************** form the form **************/

form h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background-color: chartreuse;
    margin-bottom: 20px;
}

form {
	width: 500px;
  padding: 3em 2em 2em 0;
  margin-left: 350px;
  margin-right: 170px;
  margin-top: -25px;
  transition: 3s;
  z-index: 9999;
}
.form2{
    right: 800px;
    margin-left: -600px;
}
.group { 
	position: relative; 
	margin-bottom: 45px; 
}

form input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	appearance: none;
	display: block;
	background: none;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

form input:focus { 
    outline: none; 
}


/* Label */
label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-family: 'Poppins', sans-serif;
}


/* active */
input:focus ~ label, input.used ~ label {
	top: -20px;
    transform: scale(.75);
    left: -2px;
	font-size: 14px;
    color: #4a89dc;
}


/* Underline */
.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease; 
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */
input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */
.highlight {
  font-family: 'Poppins', sans-serif;
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */
input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */
@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

/************ form button **********/

.btn2{
    width: 125px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 50px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: black;
    z-index: 1;
    height: 50px;
}

.btn2::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background: #9bdc28;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}
.btn2:hover{
    color: #3498db;
}
.btn2:hover::before{
    height: 0%;
}
/* #back{
  top: 62vh;
  right: 23vh;
} */

/***************** Ticket **********************/
/* #sec3{
  overflow: hidden;
} */
 
.table {
    display: table;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 65vh;
    left: 132vh; 
    transition: 1.5s;  
    /* overflow: hidden; */
  }
  .table2{
    left: 0vh;
    /* overflow: hidden; */
  }
  
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  #ticket {
    width: 350px;
    background: #dfe6e9;
    height: 470px;
    margin: 0 auto;
  }
  #ticket:after {
    content: '';
    display: block;
    position: relative;
    clear: both;
  }
  
  #ticket > .row:first-child:before, #ticket > .row:first-child:after {
    background-color: white;
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    bottom: 0;
    margin-bottom: -10px;
  }
  #ticket > .row:first-child:before {
    left: 0;
    margin-left: -10px;
  }
  #ticket > .row:first-child:after {
    right: 0;
    margin-right: -10px;
  }
  
  .logo {
    width: 160px;
  }
  
  .row {
    position: relative;
    padding: 20px;
  }
  .row.perforated {
    border-bottom: 1px dashed #ddd;
  }
  .row.destinations:after, .row.normRow:after {
    content: '';
    clear: both;
    display: block;
  }
  
  .label {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2 !important;
  }
  
  .airport {
    font-size: 32px;
  }
  
  .city {
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .right {
    float: right;
    text-align: right;
  }
  
  .left {
    float: left;
    text-align: left;
  }
  
  svg#plane {
    width: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    opacity: 0.5;
    display: inline-block;
  }
  
  
  .col6 {
    float: left;
    width: 50%;
    font-size: 21px;
    line-height: 1.5;
  }
  
  .col {
    font-size: 21px;
  }
  
  .normRow {
    padding-bottom: 0;
  }
  
  #qr {
    float: right;
    width: 80px;
    position: relative;
    right: -50px;
    bottom: 25px;
    margin-left: 10px;
  }
  
  .sparkler {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
  }
  .sparkler .square {
    width: 12.5%;
    height: 12.5%;
    background-color: grey;
    float: left;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
  }

  #passCont{
    font-size: 15px;
  }
  #backk{
    width: 200px;
    padding: 1px;
  }